#full-size {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  background: #4B4B4B;
}

.img {
	height: auto;
	width: 150px;
  cursor:pointer;
}

.img-big {
    background-color: #4B4B4B;
    margin: auto;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    border-color: #4B4B4B;
    border-style: solid;
    border-width: 55px;
}
.img-big img {
    height: 100%;
    width: auto;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.next {
  position: absolute;
  top: -50px;
  left: 80%;
  width: 300px;
  height: 400px;
  cursor:pointer;
}
#next {
  float: right;
  margin-top: 150px;
  width: 60px;
  height: auto;
}
.prev {
  position: absolute;
  top: -50px;
  width: 300px;
  height: 400px;
  cursor:pointer;
}
#prev {
  float: left;
  margin-top: 150px;
  width: 60px;
  height: auto;
}
.back {
  position: absolute;
  top: -50px;
  left: 1120px;
  cursor:pointer;
  width: auto;
  height: auto;

}


#back {
  float: right;
  width: 60px;
  height: auto;
}

.checkboxes {
  color: #306ca0;
  visibility: hidden;
}
.download {
  position: fixed;
  width: auto;
  height: auto;
  top: 0px;
  left: 85%;
}
#download {
  display: none;
}
.img-thumbnail {
  width: 100px;
  height: auto;
} 
a {
  cursor: pointer;
  text-decoration: none !important;

}
.div-img {
  position: static;
  height: auto;
  width: 150px;
  padding: 13px;
  display: inline-table;
}

